body {
	font-family: sans-serif;
	padding: 0 0 0 20px;
}

h1 {
	font-family: impact;
	color: darkred;
	font-size: 3em;
}

h2 {
	margin-top: 1.5em;
	margin-bottom: 5px;
}

p {
	margin-top: 2px;
}

button.heading,
button.title {
	display: block;
	margin-bottom: 15px;
}

.container {
	margin: 0 auto;
	max-width: 960px;
}
